@charset "utf-8";

/*--------------------
css変数
--------------------*/
:root {
	/* 配色 */
	--color_main: #ff4001;
	--bgcolor_main: #fff;

	/* フォント */
	--font_en: "Montserrat", sans-serif;
	--font_ja: "Noto sans JP", sans-serif;
	--font_size_base: 1.6rem;
	--font_line_height_base: 1.5;
}

/* html 共通 */
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

/* body 共通 */
body {
	position: relative;
	font: var(--font_size_base)/var(--font_line_height_base) var(--font_ja), var(--font_en);
}

/* PCのみ表示 */
@media (max-width: 800px) {
	.pc_only {
		display: none !important;
	}
}

/* SPのみ表示 */
@media (min-width: 799px) {
	.sp_only {
		display: none !important;
	}
}

/*--------------------
レイアウト 共通
--------------------*/
/* ヘッダー */
.header {
	position: fixed;
	width: 100%;
}

.header .header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2.5vw;
}

.header .header_navList {
	display: flex;
	align-items: center;
}

.header .header_navItem {
	margin-left: 5vw;
}

.header .nav_contact {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: #ff4001;
	border-radius: 50%;
	color: #fff;
}

/* ハンバーガーメニュー */
.header .header_ham_btn {
	position: relative;
	background: #ff4001;
	cursor: pointer;
	width: 70px;
	height: 70px;
	border-radius: 5px;
	box-shadow: 3px 3px #f3f3f3;
	z-index: 1000;
}

.header .header_ham_line {
	display: inline-block;
	transition: all .4s;
	position: absolute;
	left: 20px;
	height: 3px;
	border-radius: 2px;
	background: #fff;
	width: 45%;
}

.header .header_ham_btn .header_ham_line:nth-of-type(1) {
	top: 23px;
}

.header .header_ham_btn .header_ham_line:nth-of-type(2) {
	top: 34px;
}

.header .header_ham_btn .header_ham_line:nth-of-type(3) {
	bottom: 21px;
}

.header .header_ham_btn.active .header_ham_line:nth-of-type(1) {
	top: 27px;
	left: 20px;
	transform: translateY(6px) rotate(-45deg);
}

.header .header_ham_btn.active .header_ham_line:nth-of-type(2) {
	opacity: 0;
}

.header .header_ham_btn.active .header_ham_line:nth-of-type(3) {
	top: 40px;
	left: 20px;
	transform: translateY(-6px) rotate(45deg);
}

.header .header_ham_nav.active {
	transform: translateX(0);
	transition: .5s;
}

.header .header_ham_nav {
	position: absolute;
	background-color: #ff4001;
	width: 100%;
	height: 100vh;
	top: 0;
	transform: translateX(1000px);
	transition: .5s;
}

.header .header_ham_navList {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header .header_ham_link {
	display: inline-block;
	color: #fff;
	font-size: 2.5rem;
	margin: 3vh 0;
	transition: .3s;
}

.header .header_ham_link:hover {
	border-bottom: 1px solid #fff;
	transition: .5s;
}

/* メイン */
.main {}

/* ラッパー */
.wrapper {
	margin: 0 auto;
	max-width: 1250px;
}

/* フッター */
.footer {}

.footer_wrap {
	display: flex;
}

.footer_detail {
	width: 400px;
	max-width: 400px;

}

.footer_list {
	display: flex;
	width: 25%;
	flex: 1;
	list-style: none;
}

.footer_item {
	padding-left: 10px;
	min-height: 200px;
	border-left: 1px solid #ddd;
}

.footer_item {
	width: 25%;
}