@charset "utf-8";
/*--------------------
css変数
--------------------*/
:root {
	/* 配色 */
	--color_main: #ff4001;
	--bgcolor_main: #fff;

	/* フォント */
	--font_en: "Montserrat", sans-serif;
	--font_ja: "Noto sans JP", sans-serif;
	--font_size_base: 1.6rem;
	--font_line_height_base: 1.5;
}

/* html 共通 */
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
/* body 共通 */
body {
	position: relative;
	font: var(--font_size_base)/var(--font_line_height_base) var(--font_ja), var(--font_en);
}

/*--------------------
レイアウト 共通
--------------------*/
/* ヘッダー */
.header {
	position: fixed;
	width: 100%;
	height: 100px;
	background: transparent;
}
/* メイン */
.main {
	
}
/* ラッパー */
.wrapper {
	margin: 0 auto;
	max-width: 1250px;
}
/* フッター */
.footer {
	width: 100%;
	height: 200px;
	background: #333;
}