@charset "utf-8";

.message_hr {
	position: absolute;
	width: 12%;
	top: 16%;
}

.contact_message h1 {
	margin-left: 15%;
	font-size: 30px;

}

.contact_message h2 {
	margin-left: 14%;
	font-size: 15px;
	opacity: 50%;
}

.contact_message p {
	font-size: 30px;
	margin: 70px 0;
	text-align: center;
}

.contact_link {
	display: flex;
	justify-content: center
}

.contact_form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 2vw;
	padding: 30px;
	border-radius: 100px;
	background-color: var(--color_main);
	white-space: nowrap;
}

.contact_form img {
	max-width: 35px;
}

.contact_toi {
	margin: 0 2vw;
	border-radius: 20%;
	background-color: var(--color_main);
}

.contact_twitter img {
	max-width: 35px;

}

.contact_twitter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 2vw;
	padding: 30px;
	border-radius: 100px;
	background-color: var(--color_main);
	white-space: nowrap;
}

.contact_twitter_p {
	padding-left: 3%;
}

.contact_txt {
	color: #fff;
}