@charset "utf-8";
@import "/css/common.css";
/*-----------------------
トップ mv
-----------------------*/
.top_mv {
	background: #d6d6d6;
	height: 100vh;
}

/*-----------------------
トップ about
-----------------------*/
.top_about {
	background: #898989;
	height: 700px;
}

/*-----------------------
トップ Activity
-----------------------*/
.top_active {
	background: #434343;
	height: 700px;
}

/*-----------------------
トップ news
-----------------------*/
.top_news {
	background: #aeaeae;
	height: 600px;
}

/*-----------------------
トップ contact
-----------------------*/
.top_contact {
	background: #202020;
	height: 350px;
}