@charset "utf-8";
.top_mv {
	background: #d6d6d6;
	height: 100vh;
}
.top_about {
	background: #898989;
	height: 700px;
}
.top_active {
	background: #303030;
	height: 500px;
}
.top_news {
	background: #aeaeae;
	height: 600px;
}
.top_contact {
	background: #202020;
	height: 350px;
}